[submodule "lib/GEOframeUtils"]
	path = lib/GEOframeUtils
	url = git@github.com:geoframecomponents/GEOframeUtils.git
[submodule "lib/HydroGeoEntities"]
	path = lib/HydroGeoEntities
	url = git@github.com:geoframecomponents/HydroGeoEntities.git
